:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light light;
  background-color: #ffffffde;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  margin-top: 60px;
  min-width: 100%;
}

main {
  min-height: calc(100vh - 260px);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #CF3545;
}

.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.item-end{
  margin: 0;
  margin-left: auto;
}
.item-start{
  margin: 0;
  margin-right: auto;
}
.m-0{
  margin: 0 !important;
}
.m-1{
  margin: 5px;
}
.m-2{
  margin: 10px;
}
.m-3{
  margin: 15px;
}
.m-4{
  margin: 20px;
}
.m-5{
  margin: 25px;
}
.my-0{
  margin: 0 auto !important;
}
.my-1{
  margin: 5px 0 !important;
}
.my-2{
  margin: 10px 0 !important;
}
.my-3{
  margin: 15px 0 !important;
}
.my-4{
  margin: 20px 0 !important;
}
.my-5{
  margin: 25px 0 !important;
}
.mr-0{
  margin-right: 0 !important;
}
.mr-1{
  margin-right: 5px;
}
.mr-2{
  margin-right: 10px;
}
.mr-3{
  margin-right: 15px;
}
.mr-4{
  margin-right: 20px;
}
.mr-5{
  margin-right: 25px;
}
.ml-0{
  margin-left: 0;
}
.ml-1{
  margin-left: 5px;
}
.ml-2{
  margin-left: 10px;
}
.ml-3{
  margin-left: 15px;
}
.ml-4{
  margin-left: 20px;
}
.ml-5{
  margin-left: 25px;
}
.w-25{
  width: 25% !important;
}
.w-50{
  width: 50% !important;
}
.w-75{
  width: 75% !important;
}
.w-100{
  width: 100% !important;
}
.h-100{
  max-height: 100% !important;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.container-fluid{
  width: 100%;
  position: relative;
}

.logo{
  width: fit-content;
  display: flex;
  align-items: center;
}
.logo img{
  width: 40px;
}
.logo h1{
  font-size: 20px;
  text-transform: capitalize;
}

/* Navbar */
header{
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 1px #ccc;
  position: fixed;
  top: 0;
  z-index: 99;
}
nav{
  width: auto;
}
nav a{
  text-decoration: none;
  color: #000;
}
nav .open-menuBtn:hover{
  background: transparent;
}
nav .open-menuBtn{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  color: #000;
  font-size: 20px;
}
nav .navLinks{
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 5px;
  transition: ease-in-out .2s;
}
.navLinks a{
  color: #000;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 50px;
  transition: all ease-in-out .2s;
}
.active-link{
  color: #fff !important;
  background-color: #CF3545 !important;
}

/* Footer */
footer{
  position: relative;
  margin-top: auto;
  width: auto;
  background: #000;
  z-index: 99;
}
.footer {
  height: 250px;
  padding: 30px 0px;
  position: relative;
}
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  justify-content: center;
  text-align: center;
}
.footer .row a {
  color: gray;
  transition: 0.5s;
}
.footer .row a:hover {
  color: #fff;
}
.footer .row ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .row ul li {
  list-style: none;
  margin: 0 20px;
}
.footer .row a i {
  font-size: 2em;
  margin: 15px;
  margin-top: 0;
}
.footer .row p{
  position: absolute;
  bottom: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto; /* Rows adjust automatically based on content */
  gap: 0;
}
.grid-item {
  padding: 4px;  
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col{
  width: auto;
  padding: 5px;
}
.col-1{
  width: 100%;
}
.col-4 {
  flex-grow: 1;
  width: fit-content;
  max-width: 400px;
  margin: 1px;
}
.column .row{
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: left;
  box-shadow: 0 0 2px #cacaca;
  position: relative;
}
.page-title{
  font-size: 22px;
  font-weight: 600;
  margin: 10px;
  margin-top: 70px;
}
.col-heading{
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 0;
  display: flex;
}
.col-heading a{
  font-size: 20px;
  color: #000;
  margin: 0 10px;
  margin-left: auto;
  transition: .2s;
}
.col-heading a:hover{
  color: #CF3545;
}
.table-wrapper{
  width: 100%;
  max-height: 420px;
  overflow: auto;
}
.table-wrapper table{
  width: 100%;
  margin: 15px 0;
}
.table-wrapper table th{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.table-wrapper table tr:nth-child(odd){
  background-color: #f1f1f1;
}
.table-wrapper table td, th{
  padding: 10px;
  font-size: 15px;
  text-align: left;
  text-transform: capitalize;
}
.table-wrapper .sessionActive{
  width: 110px;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  color: #1bac1b;
  border: 1px solid;
  font-weight: 500;
}
.table-wrapper button{
  text-transform: capitalize;
}

.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.profile-image img{
  width: 100%;
  height: 100%;
  scale: 1.05;
  object-fit: cover;
  position: absolute;
}
.message{
  width: 100%;
  height: fit-content;
  padding: 1px;
  position: fixed;
  top: 60px;
  left: 0;
  overflow: hidden;
  z-index: 99;
}
.message p{
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  padding-right: 22px;
  font-size: 18px;
  background: #62ef62;
  position: relative;
  left: 110%;
  transition: ease-in-out .3s;
}
.message .success-message{
  color: #2b2b2b;
  background: #62ef62;
  left: 0;
}
.message .error-message{
  background: #fd4e4e;
  color: #FFF;
  left: 0;
}
.message i{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}

.avatar-back{
  width: 100vw;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000048;
  z-index: 2;
}
.avatar{
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 30%);
}
.avatar .close-avatar{
  width: 50px;
  background: transparent;
  color: #000;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}
.avatar .profile-image{
  width: 200px;
  height: 200px;
  margin: 10px 0;
  border: 2px solid #CF3545;
}
.avatar .btns{
  margin: 5px 0;
}
.avatar .btns button{
  margin: 5px !important;
  width: 100%;
  height: 45px !important;
}

/* Button component */
button {
  font-weight: 500;
  color: #ffffff;
  background-color: #CF3545;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover {
  background-color: #b32a3c;
}

/* Input component */
.input-field {
  position: relative;
}
label{
  color: #242424;
  font-size: 17px;
  margin-left: 1px;
}
.input-field input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  margin-bottom: 8px;
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
}
.input-field input:focus {
  border: 1px solid #242424;
  box-shadow: 0 0 5px #09090963;
}

/* Form Login / Signup */
.form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  margin: 15px auto;
  margin-top: 90px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 0 10px #0000001a;
}
.form .error{
  color: #eb0e0eec;
  padding-bottom: 10px;
}
.form .title {
  font-size: 28px;
  font-weight: 600;
  color: #242424;
  text-align: center;;
}
.form button{
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin-top: 1px;
}
.form-link {
  margin-left: 1px;
  margin-bottom: 10px;
}
.form p{
  text-align: center;
  margin-top: 15px;
}

/* UserId */
.userId {
  width: auto;
  margin-top: 5px;
}
.userId a{
  display: flex;
  width: fit-content;
  height: 50px;
  align-items: center;
  margin-bottom: 5px;
  color: #000;
}
.userId .profile-image{
  width: 45px;
  height: 45px;
  margin: 5px;
}

/* Post card */
.postCard {
  width: auto;
  border-radius: 3px;
  background-color: #fff;
  color: #242424;
  box-shadow: 0 0 2px #0000003a;
  overflow: hidden;
}
.postCard .postCard-image {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}
.postCard .postCard-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-in-out .2s;
}
.postCard .postCard-title{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding: 0 10px;
}
.postCard .postCard-date{
  margin: 1px auto 0 7px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4f4f4f;
}
.postCard .postCard-date i{
  font-size: 18px;
  margin: 3px;
}
.postCard:hover .postCard-title p{
  color: #CF3545;
}
.postCard:hover .postCard-image img{
  scale: 1.055;
}
.postCard-btn{
  width: 100%;
  justify-content: end !important;
  margin-top: 1px;
  margin-bottom: 10px;
}
.shareBtn:hover, .saveBtn:hover{
  background-color: #ccc;
}
.saveBtn, .shareBtn{
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 25px;
  margin: 0 4px;
  padding: 5px;
  background: transparent;
  color: #000;
  border-radius: 50px;
  transition: .3s;
}
.bxs-bookmark{
  color: #CF3545;
}
.share-icon{
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 3px;
}
.share-icon a i{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #000;
  border-radius: 50px;
  margin: 0 2px;
  transition: .2s;
}
.share-icon a i:hover{
  background-color: #ccc;
  color: #CF3545;
}

/* RTE */
.post-form .RTE{
  width: auto;
}
.post-form button{
  width: 250px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid #CF3545;
  font-size: 16px;
}
.post-form label{
  margin: 3px;
}
.post-form .upload-img{
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.post-form .upload-img .input-field{
  margin: 0 5px;
  height: fit-content;
  position: relative;
  top: 8px;
}
.post-form .upload-img input[type="file"] {
  width: 100%;
  height: 40px;
  display: block;
  padding: 6px 0;
  border: 1px solid #cacaca;
}
.post-form .select-field{
  width: auto;
  height: fit-content;
}
.post-form select{
  width: 100%;
  height: 40px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  padding: 0 15px;
}
.post-form .image-details{
  justify-content: left;
}
.post-form .RTE-title{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.post-form .RTE-title .input-field{
  width: 100%;
  margin: 0 3px;
  margin-top: 5px;
  padding: 0;
}
.post-form .RTE-title input{
  height: 40px;
}

/* Post page */
.post{
  width: auto;
  padding: 10px;
}
.post .header{
  padding: 5px;
  background-color: #eaeaea;
  border-radius: 5px;
}
.post .col-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post .links{
  width: 100%;
  margin: 5px;
  justify-content: center;
}
.image-details{
  justify-content: center;
  align-items: end;
}
.post .col-1 img{
  flex-grow: 1;
  max-width: 620px;
  width: 100%;
  border: 2px solid #b32a3c;
  margin: 5px;
}
.image-details table{
  flex-grow: 1;
  max-width: 620px;
  height: 100px;
  max-height: 150px;
  margin: 5px;
}
.image-details table th,
.image-details table td{
  text-align: left;
  padding: 20px;
}
.post .links button{
  flex-grow: 1;
  max-width: 305px;
  margin: 5px;
}
.post .content{
  margin-top: 10px;
}
.post h1.title{
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}
.post .paragraph{
  padding: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
}

/* Profile page */
.profile {
  width: auto;
}
.profile .header{
  margin-top: 50px;
  justify-content: start;
  padding: 20px;
  padding-bottom: 0;
}
.profile .profile-image{
  width: 150px;
  height: 150px;
}
.profile .profile-userId{
  width: auto;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 4px 10px;
  margin: 5px 0;
  margin-left: 20px;
  border: 1px solid #cacaca;
  border-radius: 10px;
}
.profile .col p.profile-d{
  display: inline-block;
  margin-left: 25px;
}
.profile .col p.profile-d span{
  font-weight: 700;
}
.profile .col .profile-btns{
  margin: 0 15px;
}
.profile .col .profile-btns button{
  margin: 10px;
}

.profile .profilePostBtn{
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
  border-top: 1px solid #cacaca;
}
.profile .profilePostBtn button{
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000;
  margin-right: 20px;
  border-radius: 0 0 5px 5px;
  background: transparent;
}
/* .profile .profilePostBtn button i{
} */
.profilePostBtn button.profile-active{
  background: #cacaca;
}

/* Update profile */
.update-profile{
  width: auto;
}
.update-profile h2{
  margin: 10px;
  margin-top: 80px;
}
.update-profile .row{
  margin: 10px;
  border-radius: 5px;
  padding: 10px 50px;
  align-items: center;
  justify-content: left;
  box-shadow: 0 0 2px #cacaca;
  position: relative;
}
.update-profile .row .userId{
  margin: 0;
  margin-left: 25px;
}
.update-profile .row h3{
  margin: 0;
}
.update-profile .row p{
  margin: 0;
}
.update-profile .row input.image{
  display: none;
}
.update-profile .row button{
  margin: 0;
  margin-left: auto;
  height: 40px;
}
.update-profile .input-field{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.update-profile .input-field input{
  width: fit-content;
  margin: 5px;
}

@media screen and (max-width: 1080px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .container{
    width: 100%;
  }
  .footer {
      text-align: left;
      padding: 5%;
  }
  .footer .row ul {
      flex-direction: column;
  }
  .footer .row ul li {
      margin: 7px 3%;
      text-align: left;
  }
  .footer .row p{
      left: 3%;
      margin: 0 3%;
  }

  .grid{
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  
  .row{
    justify-content: center;
  }
  .col-4{
    max-width: 300px;
    margin: 3px;
  }
  .postCard{
    margin: 0;
  }
  .table-wrapper table{
    width: 900px;
  }
  .update-profile .row{
    padding: 10px;
  }
  .profile .header{
    padding: 20px 5px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  header{
      padding-right: 0;
  }
  nav .open-menuBtn{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      color: #000;
      font-size: 20px;
  }
  nav .navLinks.open-menu{
      right: 0;
  }
  nav .navLinks{
      width: 60%;
      min-height: 100vh;
      flex-direction: column;
      align-items: start;
      top: 48px;
      right: -65%;
      padding: 0;
      box-shadow: -1px 1px 1px #ccc;
      background-color: #fff;
  }
  nav .navLinks li{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
  }
  nav li.logout-btn{
      border: none;
      margin: 20px 10px;
  }
  .navLinks a{
      width: 100%;
      height: 100%;
      margin: 0;
      font-weight: 400;
      border-radius: 0;
      display: flex;
      align-items: center;
  }
  .active-link{
      color: #fff !important;
      background-color: #CF3545 !important;
  }

  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  /* Post card */
  .postCard {
    margin: 0;
  }
  .postCard .postCard-image {
    height: 150px;
  }
  .postCard .postCard-title{
    font-size: 14px;
    padding: 2px;
  }
  .postCard .postCard-date{
    width: 100px;
    margin: 0;
    margin-right: auto;
    align-items: start;
  }
  .postCard .postCard-btn{
    width: 80px;
    margin: 0;
  }
  .postCard .saveBtn, .postCard .shareBtn{
    font-size: 22px;
  }
  .postCard .share-icon{
    display: none;
  }

  .table-wrapper table{
    width: 800px;
  }
  .profile .header{
    padding: 10px;
  }
  .profile .profile-image{
    width: 100px;
    height: 100px;
  }
  .profile .col .userId{
    margin-left: 10px;
  }
  .profile .col .date{
    width: 100%;
    display: flex;
    margin-left: 10px;
  }
  .profile .col p.profile-d{
    width: fit-content;
    margin-left: 10px;
  }
  .profile .col .profile-btns{
    margin: 0 15px;
  }
  .profile .col .profile-btns button{
    margin-left: 0;
  }
  .avatar .profile-image{
    width: 200px;
    height: 200px;
  }

}